---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app qbittorrent
  namespace: downloads
spec:
  chartRef:
    kind: OCIRepository
    name: app-template
  interval: 30m0s
  install:
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  uninstall:
    keepHistory: false
  dependsOn:
    - name: longhorn
      namespace: storage
  values:
    defaultPodOptions:
      automountServiceAccountToken: false
    controllers:
      main:
        annotations:
          reloader.stakater.com/auto: "true"
        pod:
          securityContext:
            fsGroup: 568
            fsGroupChangePolicy: "OnRootMismatch"
        containers:
          app:
            dependsOn: gluetun
            image:
              repository: ghcr.io/home-operations/qbittorrent
              tag: 5.1.4@sha256:25fc7caf22101f85276ede9b1f76a46b7a93971bb6b70b6c58d14d6ab7f51415
            securityContext:
              runAsUser: 2000
              runAsGroup: 2000
              runAsNonRoot: true
              allowPrivilegeEscalation: false
              readOnlyRootFilesystem: true
              capabilities:
                drop:
                  - ALL
            resources:
              limits:
                memory: 4G
                cpu: 1200m
          gluetun:
            image:
              repository: ghcr.io/qdm12/gluetun
              tag: 3.39.1@sha256:6a8058e626763cbf735ac2f78c774dbb24fec2490bd9d9f7d67e22592cb4a991
            env:
              - name: VPN_SERVICE_PROVIDER
                value: private internet access
              - name: VPN_PORT_FORWARDING
                value: on
              - name: SERVER_REGIONS
                value: CA Montreal
                #CA Ontario,,CA Vancouver,CA Montreal, CA Toronto, CA Vancouver,CA Ontario
              - name: FIREWALL_INPUT_PORTS
                value: &port 8080
              - name: FIREWALL_OUTBOUND_SUBNETS
                # Allow access to k8s subnets
                value: "10.42.0.0/16"
              - name: BLOCK_SURVEILLANCE
                value: on
              - name: OPENVPN_USER
                valueFrom:
                  secretKeyRef:
                    name: pia-configuration
                    key: user
              - name: OPENVPN_PASSWORD
                valueFrom:
                  secretKeyRef:
                    name: pia-configuration
                    key: password
            # Configure the container-specific securityContext
            securityContext:
              capabilities:
                add:
                  - NET_ADMIN
            resources:
              limits:
                cpu: 500m
          port-forward:
            dependsOn: gluetun
            image:
              repository: docker.io/snoringdragon/gluetun-qbittorrent-port-manager
              tag: latest
            env:
              - name: QBITTORRENT_SERVER
                value: localhost
              - name: QBITTORRENT_PORT
                value: "8080"
              - name: PORT_FORWARDED
                value: "/tmp/gluetun/forwarded_port"
              - name: HTTP_S
                value: http

    service:
      app:
        ports:
          http:
            port: *port
    persistence:
      config:
        enabled: true
        existingClaim: qbt-config
        advancedMounts:
          main:
            app:
              - path: /config
      # Configure an emptyDir to share the port-forwarding location between containers
      gluetun-data:
        type: emptyDir
        advancedMounts:
          main:
            gluetun:
              - path: /tmp/gluetun
            port-forward:
              - path: /tmp/gluetun
                readOnly: true
      media:
        type: nfs
        server: nas.dot-hex.xyz
        path: /mnt/main/media
        advancedMounts:
          main:
            app:
              - path: /data/nas-media
    route:
      app:
        hostnames:
          - "{{ .Release.Name }}.dot-hex.xyz"
        parentRefs:
          - name: internal
            namespace: kube-system
            sectionName: https
        rules:
          - backendRefs:
              - identifier: app
                port: *port
