---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: terraria
  namespace: games
spec:
  chartRef:
    kind: OCIRepository
    name: app-template
  interval: 30m0s
  install:
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  uninstall:
    keepHistory: false
  dependsOn:
    - name: longhorn
      namespace: storage
  values:
    controllers:
      main:
        containers:
          app:
            image:
              repository: docker.io/jacobsmile/tmodloader1.4
              tag: v2025.10.3.1
            env:
              TMOD_DIFFICULTY: 0
            securityContext:
              allowPrivilegeEscalation: false
              capabilities:
                drop:
                - ALL
    defaultPodOptions:
          automountServiceAccountToken: false
          securityContext:
            fsGroupChangePolicy: OnRootMismatch
            seccompProfile: {type: RuntimeDefault}
    persistence:
      config:
        enabled: true
        existingClaim: tmod1.4
        globalMounts:
        - path: /data
    service:
      app:
        ports:
          http:
            port: &port 7777
    route:
      app:
        hostnames:
          - "{{ .Release.Name }}.dot-hex.xyz"
        parentRefs:
          - name: internal
            namespace: kube-system
            sectionName: https
        rules:
          - backendRefs:
              - identifier: app
                port: *port
