# yaml-language-server: $schema=https://raw.githubusercontent.com/budimanjojo/talhelper/master/pkg/config/schemas/talconfig.json
---
clusterName: kubernetes

talosVersion: "${talosVersion}"
kubernetesVersion: "${kubernetesVersion}"

endpoint: https://192.188.1.20:6443
additionalApiServerCertSans: &sans
  - "127.0.0.1"
  - "192.188.1.20"
  - "talos-cluster.dot-hex.xyz"
additionalMachineCertSans: *sans

clusterPodNets: ["10.42.0.0/16"]
clusterSvcNets: ["10.43.0.0/16"]

# Disable built-in CNI to use Cilium
cniConfig:
  name: none

nodes:
  - hostname: "midori"
    ipAddress: "192.188.1.246"
    installDiskSelector:
      serial: "IB25ZD0256P01163"
    machineSpec:
      secureboot: false
    talosImageURL: factory.talos.dev/installer/4b3cd373a192c8469e859b7a0cfbed3ecc3577c4a2d346a37b0aeff9cd17cdb0
    controlPlane: true
    networkInterfaces:
      - deviceSelector:
          hardwareAddr: "58:47:ca:78:db:60"
        dhcp: false
        addresses:
          - "192.188.1.246/24"
        routes:
          - network: "0.0.0.0/0"
            gateway: "192.188.1.1"
        mtu: 1500
        vip:
          ip: "192.188.1.20"
  - hostname: "shiro"
    ipAddress: "192.188.1.247"
    installDiskSelector:
      serial: "2334E86FD858"
    machineSpec:
      secureboot: false
    talosImageURL: factory.talos.dev/installer/4b3cd373a192c8469e859b7a0cfbed3ecc3577c4a2d346a37b0aeff9cd17cdb0
    controlPlane: true
    networkInterfaces:
      - deviceSelector:
          hardwareAddr: "d0:50:99:d5:33:98"
        dhcp: false
        addresses:
          - "192.188.1.247/24"
        routes:
          - network: "0.0.0.0/0"
            gateway: "192.188.1.1"
        mtu: 1500
        vip:
          ip: "192.188.1.20"
  - hostname: "kuro"
    ipAddress: "192.188.1.248"
    installDiskSelector:
      serial: "2328E6ED3BC9"
    machineSpec:
      secureboot: false
    talosImageURL: factory.talos.dev/installer/4b3cd373a192c8469e859b7a0cfbed3ecc3577c4a2d346a37b0aeff9cd17cdb0
    controlPlane: true
    networkInterfaces:
      - deviceSelector:
          hardwareAddr: "48:21:0b:5a:42:eb"
        dhcp: false
        addresses:
          - "192.188.1.248/24"
        routes:
          - network: "0.0.0.0/0"
            gateway: "192.188.1.1"
        mtu: 1500
        vip:
          ip: "192.188.1.20"


# Global patches
patches:
  - "@./patches/global/machine-files.yaml"
  - "@./patches/global/machine-kubelet.yaml"
  - "@./patches/global/machine-network.yaml"
  - "@./patches/global/machine-sysctls.yaml"
  - "@./patches/global/machine-time.yaml"
  # Configure containerd
  - |-
    machine:
      files:
        - op: create
          path: /etc/cri/conf.d/20-customization.part
          content: |
            [plugins."io.containerd.cri.v1.images"]
              discard_unpacked_layers = false
            [plugins."io.containerd.cri.v1.runtime"]
              cdi_spec_dirs = ["/var/cdi/static", "/var/cdi/dynamic"]
              device_ownership_from_security_context = true
# Controller patches
controlPlane:
  patches:
    - "@./patches/controller/admission-controller-patch.yaml"
    - "@./patches/controller/cluster.yaml"

