---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: orcaslicer
  namespace: default
spec:
  chartRef:
    kind: OCIRepository
    name: app-template
  interval: 30m0s
  install:
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  uninstall:
    keepHistory: false
  values:
    controllers:
      main:
        annotations:
          reloader.stakater.com/auto: "true"
        containers:
          app:
            image:
              repository: lscr.io/linuxserver/orcaslicer
              tag: 2.3.0@sha256:022942e6989412016e69efc772e471164397e5d6efbec386240f68ccedea009e
            env:
              TZ: America/Los_Angeles
              PUID: "1000"
              PGID: "1000"
    defaultPodOptions:
      nodeSelector:
        intel-gpu: "true"
    service:
      app:
        ports:
          http:
            port: &port 3000
    route:
      app:
        hostnames:
          - "{{ .Release.Name }}.dot-hex.xyz"
        parentRefs:
          - name: internal
            namespace: kube-system
            sectionName: https
        rules:
          - backendRefs:
              - identifier: app
                port: *port
    persistence:
      config:
        existingClaim: orca-slicer
        globalMounts:
          - path: /config
